@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@900&display=swap");

.header-div {
  background-color: #383838;
  text-align: center;
  margin-top: -34px;
}
.header-h2 {
  font-size: 250%;
  font-family: "Caveat", cursive;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
