@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@900&display=swap");

.footer-div {
  background-color: #383838;
  text-align: center;
  margin-bottom: -22px;
}
.copy-expense {
  font-family: "Caveat", cursive;
  padding-top: 13px;
  font-size: 130%;
  font-weight: 400;
  color: white;
}

.creator {
  font-family: "Caveat", cursive;
  padding-bottom: 15px;
  font-size: 130%;
  font-weight: 400;
  color: white;
}
